# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

**\.vs

FsAntiScamFilter/FsAntiScamFilter/Release/**
FsAntiScamFilter/Release/**
FsAntiScamFilter/FsAntiScamFilter/Debug/**
FsAntiScamFilter/Debug/**
FsAntiScamFilter/x64/**
FsAntiScamFilter/x64/Release/**
FsAntiScamFilter/FsAntiScamFilter/x64/Release/**
*.tlog
*.log
*.pdb

FsAntiScamFilter/FsAntiScamFilter/x64/**
*.idb
*.ilk
FsAntiScamFilter/FsAntiScamFilter/RCb05116
FsAntiScamFilter/FsAntiScamFilter/RCa05116
.idea/**
**\.idea
sdv/**
*.sdv
**/sdv/**
FsAntiScamFilter/FsAntiScamFilter/smvstats.txt
FsAntiScamFilter/FsAntiScamFilter/SDV-default.xml
FsAntiScamFilter/FsAntiScamFilter/runsdvui.cmd
FsAntiScamFilterx64/Release/**
